#register {

	width: 275px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #E1EDF6;
	padding: 30px;
	height: 350px;
}

.signup_field {
	margin-bottom: 20px;
	margin-top: 5px;
	

}

.signup_actions {
	float:right;
	

}


#field_description h4{
	position: relative;
	margin-top: -3px;
	margin-left: 20px;
	font-size: 11px;
	color: grey;
	

}
