<div id="featured_wrapper_outside">
	<div id="content_wrapper">
		<div id="about">
			<h2>About Us</h2>
			<div id="aboutUs">
				<h3>We make it easier to manage your Fraternity</h3>
				<p>
					We're committed to serve your Fraternity's needs by developing a product that helps easily manage your "in-house" administration. Our product will also increase efficiency among your members so you can deal with more important matters within your house. 
				<p>
			</div>
			<div id="team">
				<h2>Meet the FratApps Team</h2>
				<div class="left">
					<h3>Rishi Talwar</h3>
					<p>
					Rishi started FratApps and is a Co-Founder. He brings ideas to reality by providing the vision for FratApps. With his versatile skills he is able to understand the technical and business side of operations. When not thinking of solving user's problems, he enjoys playing basketball and rapping to his friend's beats. Rishi is a senior studying Informatics at the University of Washington.
					</p>
					<p>
						Connect with Rishi on 
				<a href="http://www.twitter.com/rishtal" target="_blank">Twitter</a> or
				<a href="http://www.linkedin.com/in/rishitalwar" target="_blank">LinkedIn</a>
					</p> 
				</div>
				<div class="right">
					<h3>Anirudh Srinivas</h3>
					<p>
					Anirudh is a Co-Founder of FratApps and always neck deep in code. He likes thinking about solutions to challenging technical problems that help people. When he's not busy with FratApps, he likes to chill out with his friends and watch sports. Anirudh is a senior studying Computer Science at the University of Washington.
					</p>
					<p>
						Connect with Anirudh on 
				<a href="http://www.linkedin.com/pub/anirudh-srinivas/14/560/7" target="_blank">LinkedIn</a>
					</p> 
				</div>
				<div class="left">
					<h3>Mikey Tom</h3>
					<p>
Mikey is a startup enthusiast, entrepreneur, and student.  Over the summer of 2010 Mikey interned with TeachStreet where he worked with the site's SEO, mainly through link building.  Once he began his freshmen quarter at the University of Washington that internship ended and he began another with InternMatch as a campus representative.  Over the course of that fall quarter he worked in cohesion with 6 other student representatives to increase the site's brand awareness on 5 different campuses.  Although he has yet to launch a startup he hopes to do so in the very near future.
					</p>
					<p>
						Connect with Mikey on 
				<a href="http://twitter.com/mikeytom" target="_blank">Twitter</a> or
				<a href="http://www.linkedin.com/in/mikeytom" target="_blank">LinkedIn</a>
					</p> 
				</div>

			</div>
		</div>
	
	</div>
</div>
